body {
	padding: 0;
	margin: 0;
	position: relative!;
  	top:0px;
	right:0px;
	left:0px;
	bottom:0px;   
}

#header {
    padding:0;
    margin:0;
    position: fixed;
	top:0px;
	right:0px;
	left:0px;
	height: 45px;
    background-color: #EEEEEE;
    
    background-repeat: no-repeat;
	background-position: 28px 0px;
	background-size: 8%;
    background-image: url("images/SupeYou-Logo.png");
    
}

#title{
	color: #777777;
	font-size: 17px;
	position: absolute;
	top: 3px;
	left: 22px;
}

#login{
	position: absolute;
	top: 10px;
	right: 10px;
}

 #main {
    padding:0;
    margin:0;
    
    position: absolute;
    top:45px;
	right:0px;
	left:0px;
	bottom:12px;
	
	overflow: auto;
}

 #footer {
    padding:0;
    margin:0;
    position: fixed;
	right:0px;
	left:0px;
	bottom:0px;
	height: 12px;
   background-color:#EEEEEE;
}

#footer .app-version {
	position: absolute;
	right: 0px;
	top: 1px;
	font-size: 8px;
}

.landingpage-root .text{
	margin-top: 50px;
	margin-bottom:  10px;
	font-size: 20px;
	text-align: center;
	color: gray;
}

.addhero-root .text{
	margin-top: 60px;
	margin-bottom:  60px;
	font-size: 20px;
	text-align: center;
	color: gray;
}

.main-menu .menu {
	position: relative;
	top: 0px;
	right: 0px;
	left:0px;
	background-color: #EEEEEE;
}
 	
.main-menu .menu > * {
	cursor: pointer;
	display: inline-block;	
	padding-right: 24px;
	padding-left: 24px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right: solid 1px #DDDDDD;
	border-top: solid 1px #DDDDDD;

	color: #777777;


}

.main-menu .menu > *:hover {
	color:black;
	background-color: #F1F1F1;
} 
.main-menu .menu > *.selected {
	color:black;
	background-color: lightgray;
} 