<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<listener>
		<listener-class>com.supeyou.app.server.ServletContextListenerImpl</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.supeyou.actor.web.server.SessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>BrowserMarkingFilter</filter-name>
		<filter-class>com.supeyou.actor.web.server.BrowserMarkingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BrowserMarkingFilter</filter-name>
		<!-- This Filter shall only be active on very first request -->
		<url-pattern>/index.html</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>ActorFilter</filter-name>
		<filter-class>com.supeyou.actor.web.server.ActorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ActorFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>FileDownloadServlet</servlet-name>
		<servlet-class>com.supeyou.crudie.web.server.FileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileDownloadServlet</servlet-name>
		<url-pattern>/FileDownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>com.supeyou.crudie.web.server.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/FileUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RPCServiceImpl</servlet-name>
		<servlet-class>com.supeyou.crudie.web.server.RPCServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCServiceImpl</servlet-name>
		<url-pattern>/RPCServiceImpl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RPCUserCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.crudie.web.server.RPCUserCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCUserCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCUserCRUDServiceImpl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RPCUser2GroupCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.crudie.web.server.RPCUser2GroupCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RPCAuthServiceImpl</servlet-name>
		<servlet-class>com.supeyou.actor.web.server.RPCAuthServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCAuthServiceImpl</servlet-name>
		<url-pattern>/RPCAuthServiceImpl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RPCGroupCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.crudie.web.server.RPCGroupCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCGroupCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCGroupCRUDServiceImpl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RPCFileCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.crudie.web.server.RPCFileCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCFileCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCFileCRUDServiceImpl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RPCDonationCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.core.web.server.RPCDonationCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCDonationCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCDonationCRUDServiceImpl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RPCSupporter2DonationCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.core.web.server.RPCSupporter2DonationCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCSupporter2DonationCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCSupporter2DonationCRUDServiceImpl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RPCHeroCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.core.web.server.RPCHeroCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCHeroCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCHeroCRUDServiceImpl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RPCInvitation2SupporterCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.core.web.server.RPCInvitation2SupporterCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCInvitation2SupporterCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCInvitation2SupporterCRUDServiceImpl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RPCInvitationCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.core.web.server.RPCInvitationCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCInvitationCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCInvitationCRUDServiceImpl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RPCSupporter2InvitationCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.core.web.server.RPCSupporter2InvitationCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCSupporter2InvitationCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCSupporter2InvitationCRUDServiceImpl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RPCSupporterCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.core.web.server.RPCSupporterCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCSupporterCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCSupporterCRUDServiceImpl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RPCUser2SupporterCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.core.web.server.RPCUser2SupporterCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCUser2SupporterCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCUser2SupporterCRUDServiceImpl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RPCSessionCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.actor.web.server.RPCSessionCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCSessionCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCSessionCRUDServiceImpl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RPCSession2UserCRUDServiceImpl</servlet-name>
		<servlet-class>com.supeyou.actor.web.server.RPCSession2UserCRUDServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RPCSession2UserCRUDServiceImpl</servlet-name>
		<url-pattern>/RPCSession2UserCRUDServiceImpl</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>