#main{
	text-align:center;
}

.landingpage-root {
	max-width: 600px;
	display: inline-block;
}
.landingpage-root .flat-button{
	margin: 64px 50px 48px 50px;
}

.field-style{
	padding: 12px 8px 12px 8px;
  	border-radius: 5px;
  	transition: all 0.40s ease-in-out;
  	outline: none;
  	border: 1px solid #d4d4d4;
  	box-shadow: 0 0 0 1px transparent;
}
.gwt-TextBox{
	padding: 6px 8px 6px 8px;
  	border-radius: 5px;
  	transition: all 0.40s ease-in-out;
  	outline: none;
  	border: 1px solid #d4d4d4;
  	box-shadow: 0 0 0 1px transparent;
  	color: gray;
  	font-size: 12px;
}
.modal-widget{
	
	padding: 0;
	margin-bottom: 24px;
	background-color: white;
	color: gray;
	text-align: center;
	
}

.modal-widget .gwt-TextBox{
	text-align: center;
}
.modal-widget .text-html{
	margin: 48px 0 32px 0;
}
.modal-widget .header-label{
	background-color: #D5E2F8;
  	text-align: left;
  	font-size: 16px;
  	padding: 12px 8px;
}
.modal-widget .close-button{
	position: absolute;
	top:0;
	right:0;
	height: 16px;
	width: 16px;
	margin: 14px;
	
	background-repeat: no-repeat;
  	background-image: url("core/images/fontawesome/times_808080_32.png");
  	background-size:16px;
  	/*  background-position: 50% 8px;*/
	
	cursor: pointer;
}

.modal-widget .donate{
	/* padding-bottom: 400px; */
}

.popupcontent{
	padding: 0 32px 600px 32px;
}

.popupcontent .text{
	font-size: 14px;
	margin-left: 32px;
	margin-right: 32px;
}
.popupcontent .text.one{
	margin-top: 48px;
	margin-bottom: 48px;
	  
}
.popupcontent .text.two{
	margin-top: 48px;
	margin-bottom: 48px;
}
.popupcontent .text.three{
	margin-top: 48px;
	margin-bottom: 48px;
}
.popupcontent.simple .text.three{
	display: none;
}
.popupcontent .link-name-textbox-slot{
	margin: 0;
}
.popupcontent.simple .link-name-textbox-slot{
	display: none;
}
.modal-widget .invite .link-row{
	vertical-align:middle;
	white-space: nowrap;
	position: relative;
}

.modal-widget .invite .link-row > * {
	display:inline-block;
	vertical-align: middle;
}

.modal-widget .invite .link-label{
	background-color: #C6D9F1;
	font-size: 16px;
	padding-left: 48px;
}
.modal-widget .invite.simple .link-label{
	padding: 12px
}
.modal-widget .invite .link-row .reload-button{
	position: absolute;
	padding: 12px 8px 4px 8px;
  	
	height: 26px;
	width: 20px;
	border-right: 1px solid #BDBDBD;
	background-repeat: no-repeat;
  	background-image: url("core/images/fontawesome/refresh_808080_32.png");
  	background-size:16px;
  	
	background-position: 50% 14px;
  	cursor: pointer;
}

.modal-widget .invite.simple .link-row .reload-button{
	display:none;
}

.modal-widget .invite .share-buttons-slot{
	text-align:left;
	display: inline-block;
	margin-top: 16px;
}

.modal-widget .invite .share-button{
	margin: 12px 0 12px 0;
}

.modal-widget .invite .share-button > *{
	display: inline-block;
  	vertical-align: middle;
  	cursor:pointer;
}

.modal-widget .invite .link-row .share-button{
	height: 16px;
	width: 16px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/fontawesome/share-alt_808080_32.png");
  	background-size:16px;
  	background-position: 50% 0px;
  	cursor: pointer;
}

.modal-widget .invite .link-hint-label{
	font-size: 12px;
	margin-top: 24px;
}

.modal-widget .invite .share-button .image.clipboard{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/clipboard.jpg");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}


.modal-widget .invite .share-button .image.mail{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/email-icon.png");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}

.modal-widget .invite .share-button .image.whatsapp{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/whatsapp_logo.jpg");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}

.modal-widget .invite .share-button .image.google{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/gplus-icon.png");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}

.modal-widget .invite .share-button .image.facebook{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/facebook-icon.jpg");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}

.modal-widget .invite .share-button .image.twitter{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/twitter-icon.jpg");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}

.modal-widget .invite .link-name-label{
	font-size: 10px;
	padding: 0px 24px 120px 24px;
	width: 180px;
	display: inline-block;
}

.supporter-card-root{
	text-align: center;
}

.supporter-root.you{
	text-align:left;
	margin: 12px 0;
}
.supporter-root.you .your-generated-result{
	font-size: 28px;
}
.supporter-root.root .overall-generated-result{
	
	font-size: 24px;

}

.supporter-root.you > *{
	display: inline-block;
}
.supporter-root.you .left-column{
	width:100px;
	vertical-align: top;
	text-align: center;
}
.supporter-root.you .right-column{

}
.tree-view-toggle-label{
	position: absolute;
	right: 32px;
	top: 18px;
	text-align:right;
	font-size: 11px;
	color: gray;
	cursor: pointer;
	padding-bottom: 14px;
}
.supportertree-root{
	
	white-space: nowrap;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	
}

.supportertree-root .amount-label{
	margin: 0 12px;
}

.supportertree-root .edge-slot>.gwt-Label{
	margin: 12px 48px;
	padding: 3px 10px 5px 6px;
	font-size:16px;
	background-color: lightgray;
	color: white;
	border-radius: 112px;
	

	cursor: pointer;
}



.supportertree-slot{
	position: relative;
	text-align: center;
	
}

.supportertree-root .edge-slot{
	height: 50px;
	
}

.supporter-root .you-image{
	
	margin-top: 10px;
	height: 32px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/emoticon.smile.large.anim.gif");
  	background-size:32px;
  	background-position: 50% 0px;
	
}


.supportertree-root .image-slot{
	height: 20px;
	background-repeat: no-repeat;
  	background-image: url("core/images/emoticon.smile.png");
  	background-position:50% 0px ;
}

.supportertree-root .image-slot.you{
	height: 32px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/emoticon.smile.large.anim.gif");
  	background-size:32px;

}
.supportertree-root .image-slot.hero{
	height: 36px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/hero.png");
  	background-size:48px;
  	background-: 16px;

}

.supportertree-root.gray{
    opacity: 0.5;
}

.supportertree-root.gray .image-slot{
	background-image: url("core/images/emoticon.smile.bw.png");  
}

.supportertree-root .name-Label{
	
	padding: 0 6px;
	font-size: 9px;
	
}

.heropage-button-slot{
	text-align: center;
	padding: 8px 0 22px 0;
}

.heropage-button-slot.donation{
	margin-top: 12px;
	text-align: center;
	padding: 8px 0 22px 0;
}
.heropage-button-slot.donation .flat-button{
   
}

.heropage-button-slot.invitation{
	text-align: center;
	padding: 8px 0 ^11px 0;
}

.heropage-button-slot.invitation .flat-button{
}

.heropage-button-slot .flat-button{
	display: inline-block;
	width: 240px;
}

.obsInv-slot > *{
	text-align:center;
}

.browser-root.large.guestgroup .settings{
	margin-bottom:12px;
} 

.browser-root.large.guestgroup .settings > *{
	display: inline-block;
}

.browser-root.large.guestgroup .month-selector-slot .gwt-ListBox{ 
	margin-top:3px;
	/* margin-left: 12px; */
    width: 100px;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    transition: all 0.40s ease-in-out;
    outline: none;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 0 1px transparent;
}

 
.guestcalculationdetail .errortext{
	color: #FAAC58;;
	font-size: 12px;
}

.browser-root.large.guestgroup{
  padding: 48px;
  width: 1000px;
}

.guestscalculation{ 
	padding: 12px;
	background-color: white; 
	display: table;
} 
.guestscalculation > *{
	display: table-row;
}
.guestscalculation .link-button {
	font-size:12px;
}
.guestscalculation > * > *{
	display: table-cell;
	font-size: 12px;
	padding: 1px 5px 1px 5px;
	border: 1px solid #d4d4d4;
 
}
.guestscalculation > *.error > *{
	background-color: #FAAC58;
}
.guestcalculationdetail{
	padding: 12px;
	background-color: white; 
	display: table;
		border: 1px solid #d4d4d4;
 
} 
.guestcalculationdetail > *{
	display: table-row;
	
}
.guestcalculationdetail > * > *{
	display: table-cell;
	font-size:10px;
	padding: 1px 5px 1px 5px;
	border: 1px solid #d4d4d4;
 
}
.guestcalculationdetail > *:first-child > *{
	background-color: lightgray;
}
.guestcalculationdetail > *:last-child > *{
	background-color: lightgray;
}

.browser-root.large.hero .gwt-TextBox{
	margin-top:3px;
    width: 70px;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    transition: all 0.40s ease-in-out;
    outline: none;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 0 1px transparent;
}

.browser-root.large.hero {
	/*margin-bottom: 32px;*/
}

.browser-root.large.hero  .label1of2{
    margin: 4px
}
.browser-root.large.hero  .label2of2{
    margin: 4px
}
.browser-root.large.hero{
	position: relative;
	width: 100%;
	padding:0px;
	margin:0px;
}
 
.browser-root.large.hero .query-slot {
	position: relative;
} 

.browser-root.large.hero .query-root{
	position:relative;
	/* margin: 12px; */
	
	/* border-style: solid; */
	/* border-color: blue; */
	/* width: 400px; */
	height: 30px;
	width: 350px;      
	margin: 32px auto 0 auto;
}

.browser-root.large.hero .search-text-field-root:after {
  position: absolute;
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  top: 10px;
  left: 10px;
  color: lightgray;
  content: "\f002";
}
.browser-root.large.hero .search-text-field{
	height: 24px;
}
.browser-root.large.hero .settings {
	position: absolute;
	top: 100px;
	left: 220px;
} 

.browser-root.large.hero .listitems{
	padding:12px;
}
.browser-root.large.hero .listitems>div{
	 text-align: center;
}
.supporter-card-slot{
	text-align:center;
}
.card{
	margin: 18px;
	border-radius: 3px;
	border: 1px solid #d4d4d4;
	box-shadow: 0px 0px 6px #888888;
	width: 240px;
 	text-align: center;
 	display: inline-block;
	color: gray;
	cursor: default;
}

.card  .hero-slot{
	border-bottom: 1px solid #d4d4d4;
}

.listitems .card:hover{
	box-shadow: 0px 0px 7px #666;
	cursor: pointer;
}


.browser-root .hero{
	
	padding: 1px 8px 0px 8px;
    margin: 0px 16px 0px 16px;
	
}

.hero .name-slot{
	margin:6px;
}

.hero .image-slot{
	position: relative;
}

.hero .image-slot img{
	width: 60%;
	border-radius: 5px;
	margin: 12px  12px  0px  12px;
 
}
.hero .image-slot .play-button{
	position: absolute;
	left:76px;
	top:48px;
	height: 42px;
	width: 64px;
	opacity: 1;
	cursor: pointer;
}

.hero .website-slot{
	margin: 0px 0 18px 0;
	font-size: 10px;
}

.listitems .hero .website-slot{
	display: none;
}
.hero .comment-slot{
	margin:6px 6px 14px 6px;
}
.browser-root.large.hero .pager {
} 



.browser-root.large.hero .column.one{
	margin-bottom: 24px;
}
 
.asso-list-slot .timebar{
	position: absolute;
	bottom: 3px;
	top: 19px;
	background-color:#00CCFF;
}
 
.asso-list-slot  .listitem.guest2hero {
	padding: 1px; 
	border: 1px solid #d4d4d4;	
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	height: 33px;

}

 
.browser-root.large.hero .timebar {
	padding: 1px 0px 0px 3px;
	font-size: 10px;
} 

.browser-root.large.hero .timebar .gwt-Label{
	padding: 0px 0px 0px 3px;
	font-size: 10px;
	width: 190px;
	color: #999;
} 

.browser-root.large .column.one .gwt-Label{
	font-weight:bold;
	color: #555;
}

.browser-root.large.guestgroup .column.one {
	margin-bottom: 12px;
}

.form-root.twocolumns .column {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.howitworks-root{
	position:relative;
	margin-top: 16px;
}

.howitworks-root .text{
	position:absolute;
	left: 180px;
	top: -10px;
	text-align: left;
}

.howitworks-root .text2{
	position:relative;
	padding: 20px 80px 12px 80px;
}

.howitworks-root .howitworks-image{
	
	position:relative;
	margin-top: 190px;
	text-align: left;
	zoom: 66%;;
}

.howitworks-root .button-pointer-image{
	position:absolute;
	left: 110px;
	top:-48px;
	width: 200px
}
.recommendation-root .howitworks-image{
	
	position:relative;
	margin-top: 190px;
	text-align: left;
	zoom: 66%;;
}

.recommendation-root .button-pointer-image{
	position:absolute;
	left: 110px;
	top:48px;
	width: 200px
}
.root.chooser {
	padding-bottom: 800px;
}

.root.chooser .header{
	padding: 32px 88px 32px 88px;
	border-bottom: 1px solid #d4d4d4;
	font-size: 16px;
}
.root.chooser .link-name-textbox-slot{
	padding: 24px 0;

}

.root.chooser .option{
	border-bottom: 1px solid #d4d4d4;
	text-align:left;
	padding-left: 160px;
	padding-top: 25px;
	height: 50px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 100px 18px;
	font-size: 14px;

}

.root.chooser .option.email{
	
  	position: relative;
  	background-image: url("core/images/email-icon.png");
  	background-size:32px;
  
}
.root.chooser .option.whatsapp{
	
  	background-image: url("core/images/whatsapp_logo.jpg");
  	background-size:32px;
  
}

.root.chooser .option.cutandpaste{
	
  	position: relative;
  	background-image: url("core/images/clipboard.jpg");
  	background-size:32px;
  
}

.root.chooser .option.facebook{
	
  	background-image: url("core/images/facebook-icon.jpg");
  	background-size:32px;
  
}

.root.chooser .option.googleplus{
	
  	background-image: url("core/images/gplus-icon.png");
  	background-size:32px;
  
}

.root.chooser .option.twitter{
	
  	background-image: url("core/images/twitter-icon.jpg");
  	background-size:32px;
  
}

.root.chooser .option.user{
	
  	background-image: url("core/images/emoticon.user.png");
  	background-size:32px;
  
}

.root.chooser .option.users{

	background-image: url("core/images/emoticon.users2.png");
  	background-size:38px;
  	background-position: 96px 20px;
 
}

.root.chooser.donate .option.donate{
	
  	padding:18px 0 60px 0;
  	text-align: center;
  	vertical-align:middle;

}

.root.chooser.donate .header{
	
  margin: 0;
  
}
.donation-root .label{
	margin-bottom:12px;
	font-size: 14px;
}

.root.chooser .option:hover{
	
	background-color:#F7F7F7;

}

.root.chooser .option > *{
	
}

.ask-for-email .save-button-slot{
	margin-top: 68px;
}

.ask-for-email .email-textbox-slot{
	padding:0px;

}

.ask-for-email .email-textbox-slot .gwt-TextBox:focus{
	background-color:white;
	
}
.listitems.event{

}
.listitems.event>div {
	display: table;
	background-color:white;
	

}
.listitems.event>div>* {
	display: table-row;
}
.listitems.event>div>*>* {
	display: table-cell;
	border-style:solid;
	border-color:gray;
	border-width:1px;
	padding: 5px;
	font-size:9px;
}

.video-root{
	margin-top: 20px;
	width: 100%;
	/* height:240px; don't use with foaming */
}

.video-root iframe{
	margin-top:-10px;
	width: 100%;
	/* height:240px; don't use with foaming */
}

