.landingpage-root .flat-button{
	margin: 64px 50px 32px 50px;
}

.field-style{
	padding: 6px 8px 6px 8px;
  	border-radius: 5px;
  	transition: all 0.40s ease-in-out;
  	outline: none;
  	border: 1px solid #d4d4d4;
  	box-shadow: 0 0 0 1px transparent;
}
.gwt-TextBox{
	padding: 6px 8px 6px 8px;
  	border-radius: 5px;
  	transition: all 0.40s ease-in-out;
  	outline: none;
  	border: 1px solid #d4d4d4;
  	box-shadow: 0 0 0 1px transparent;
  	color: gray;
  	font-size: 12px;
}
.invite-root{
	
	padding: 0;
	margin-bottom: 24px;
	background-color: white;
	color: gray;
	text-align: center;
	
}

.invite-root .gwt-TextBox{
	text-align: center;
}
.invite-root .text-html{
	margin: 48px 0 32px 0;
}
.invite-root .header-label{
	background-color: #EEEEEE;
  	text-align: left;
  	font-size: 16px;
  	padding: 12px 8px;
}
.invite-root .close-button{
	position: absolute;
	top:0;
	right:0;
	height: 16px;
	width: 16px;
	margin: 14px;
	
	background-repeat: no-repeat;
  	background-image: url("core/images/fontawesome/times_808080_32.png");
  	background-size:16px;
  	/*  background-position: 50% 8px;*/
	
	cursor: pointer;
}


.invite-root .link-row{
	vertical-align:middle;
	white-space: nowrap;
	position: relative;
}

.invite-root .link-row > * {
	display:inline-block;
	vertical-align: middle;
}
.invite-root .link-label{
	background-color: #C6D9F1;
	padding-left: 40px;
}
.invite-root .link-row .reload-button{
	position: absolute;
	padding:8px 8px 4px 8px;
  	height: 16px;
	width: 16px;
	border-right: 1px solid #BDBDBD;
	background-repeat: no-repeat;
  	background-image: url("core/images/fontawesome/refresh_808080_32.png");
  	background-size:16px;
  	background-position: 50% 8px;
  	cursor: pointer;
}

.invite-root .share-buttons-slot{
	text-align:left;
	display: inline-block;
	margin-top: 16px;
}

.invite-root .share-button{
	margin: 12px 0 12px 0;
}

.invite-root .share-button > *{
	display: inline-block;
  	vertical-align: middle;
  	cursor:pointer;
}

.invite-root .link-row .share-button{
	height: 16px;
	width: 16px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/fontawesome/share-alt_808080_32.png");
  	background-size:16px;
  	background-position: 50% 0px;
  	cursor: pointer;
}

.invite-root .link-hint-label{
	font-size: 12px;
	margin-top: 12px;
}

.invite-root .share-button .image.clipboard{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/clipboard.jpg");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}


.invite-root .share-button .image.mail{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/email-icon.png");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}

.invite-root .share-button .image.whatsapp{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/whatsapp_logo.jpg");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}

.invite-root .share-button .image.google{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/gplus-icon.png");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}

.invite-root .share-button .image.facebook{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/facebook-icon.jpg");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}

.invite-root .share-button .image.twitter{
	
	height: 32px;
	width: 32px;
	margin: 0px 12px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/twitter-icon.jpg");
  	background-size:32px;
  	background-position: 50% 0px;
  	cursor: pointer;
}




.invite-root .link-name-textbox-slot{
	margin: 24px 0 0 0;
}
.invite-root .link-name-label{
	font-size: 10px;
	padding: 0px 24px 120px 24px;
	width: 180px;
	display: inline-block;
}

.supporter-card-root{
	text-align: center;
}

.supporter-root{
	text-align:left;
	margin: 12px 0;
}

.supporter-root > *{
	display: inline-block;
}
.supporter-root .left-column{
	width:100px;
	vertical-align: top;
	text-align: center;
}
.supporter-root .right-column{

}

.supportertree-root{
	
	white-space: nowrap;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	
}



.supportertree-slot{
	
	text-align: center;
	
}

.supportertree-root .edge-slot{
	
	height: 50px;
	
}

.supporter-root .you-image{
	
	margin-top: 8px;
	height: 32px;
  	background-repeat: no-repeat;
  	background-image: url("core/images/emoticon.smile.large.anim.gif");
  	background-size:32px;
  	background-position: 50% 0px;
	
}

.supportertree-root .image-slot{
	height: 20px;
	background-repeat: no-repeat;
  	background-image: url("core/images/emoticon.smile.png");
  	background-position:50% 0px ;
}

.supportertree-root .name-Label{
	
	padding: 0 6px;
	font-size: 9px;
	
}


.invitation-button-slot{
	text-align: center;
	padding: 8px 0 22px 0;
}

.invitation-button-slot .flat-button{
	display: inline-block;
	width: 240px;
}

.obsInv-slot > *{
	text-align:center;
}

.browser-root.large.guestgroup .settings{
	margin-bottom:12px;
} 

.browser-root.large.guestgroup .settings > *{
	display: inline-block;
}

.browser-root.large.guestgroup .month-selector-slot .gwt-ListBox{ 
	margin-top:3px;
	/* margin-left: 12px; */
    width: 100px;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    transition: all 0.40s ease-in-out;
    outline: none;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 0 1px transparent;
}

 
.guestcalculationdetail .errortext{
	color: #FAAC58;;
	font-size: 12px;
}

.browser-root.large.guestgroup{
  padding: 48px;
  width: 1000px;
}

.guestscalculation{ 
	padding: 12px;
	background-color: white; 
	display: table;
} 
.guestscalculation > *{
	display: table-row;
}
.guestscalculation .link-button {
	font-size:12px;
}
.guestscalculation > * > *{
	display: table-cell;
	font-size: 12px;
	padding: 1px 5px 1px 5px;
	border: 1px solid #d4d4d4;
 
}
.guestscalculation > *.error > *{
	background-color: #FAAC58;
}
.guestcalculationdetail{
	padding: 12px;
	background-color: white; 
	display: table;
		border: 1px solid #d4d4d4;
 
} 
.guestcalculationdetail > *{
	display: table-row;
	
}
.guestcalculationdetail > * > *{
	display: table-cell;
	font-size:10px;
	padding: 1px 5px 1px 5px;
	border: 1px solid #d4d4d4;
 
}
.guestcalculationdetail > *:first-child > *{
	background-color: lightgray;
}
.guestcalculationdetail > *:last-child > *{
	background-color: lightgray;
}

.browser-root.large.hero .gwt-TextBox{
	margin-top:3px;
    width: 70px;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    transition: all 0.40s ease-in-out;
    outline: none;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 0 1px transparent;
}

.browser-root.large.hero {
	/*margin-bottom: 32px;*/
}

.browser-root.large.hero  .label1of2{
    margin: 4px
}
.browser-root.large.hero  .label2of2{
    margin: 4px
}
.browser-root.large.hero{
	position: relative;
	width: 100%;
	padding:0px;
	margin:0px;
}
 
.browser-root.large.hero .query-slot {
	position: relative;
} 

.browser-root.large.hero .query-root{
	position:relative;
	/* margin: 12px; */
	
	/* border-style: solid; */
	/* border-color: blue; */
	/* width: 400px; */
	height: 30px;
	width: 350px;      
	margin: 32px auto 0 auto;
}

.browser-root.large.hero .search-text-field-root:after {
  position: absolute;
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  top: 10px;
  left: 10px;
  color: lightgray;
  content: "\f002";
}
.browser-root.large.hero .search-text-field{
	height: 24px;
}
.browser-root.large.hero .settings {
	position: absolute;
	top: 100px;
	left: 220px;
} 

.browser-root.large.hero .listitems{
	padding:12px;
}
.browser-root.large.hero .listitems>div{
	 text-align: center;
}
.supporter-card-slot{
	text-align:center;
}
.card{
	margin: 18px;
	border-radius: 3px;
	border: 1px solid #d4d4d4;
	box-shadow: 0px 0px 6px #888888;
	width: 240px;
 	text-align: center;
 	display: inline-block;
	color: gray;
}
.card  .hero-slot{
	border-bottom: 1px solid #d4d4d4;
	
}


.browser-root .hero{
	
	padding: 1px 8px 12px 8px;
	margin: 0px 16px 16px 16px;
	
}

.hero .name-slot{
	margin:6px;
}


.hero .image-slot img{
	width: 60%;
	border-radius: 5px;
	margin: 12px  12px  0px  12px;
 
}

.hero .website-slot{
	margin:0px;
	font-size: 10px;
}
.hero .comment-slot{
	margin:6px;
}
.browser-root.large.hero .pager {
} 



.browser-root.large.hero .column.one{
	margin-bottom: 24px;
}
 
.asso-list-slot .timebar{
	position: absolute;
	bottom: 3px;
	top: 19px;
	background-color:#00CCFF;
}
 
.asso-list-slot  .listitem.guest2hero {
	padding: 1px; 
	border: 1px solid #d4d4d4;	
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	height: 33px;

}

 
.browser-root.large.hero .timebar {
	padding: 1px 0px 0px 3px;
	font-size: 10px;
} 

.browser-root.large.hero .timebar .gwt-Label{
	padding: 0px 0px 0px 3px;
	font-size: 10px;
	width: 190px;
	color: #999;
} 

.browser-root.large .column.one .gwt-Label{
	font-weight:bold;
	color: #555;
}

.browser-root.large.guestgroup .column.one {
	margin-bottom: 12px;
}

.form-root.twocolumns .column {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
