<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <listener>
    <listener-class>com.supeyou.app.server.ServletContextListenerImpl</listener-class>
  </listener>
  <servlet>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>com.supeyou.crudie.web.server.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.supeyou.crudie.web.server.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RPCServiceImpl</servlet-name>
    <servlet-class>com.supeyou.crudie.web.server.RPCServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPCServiceImpl</servlet-name>
    <url-pattern>/RPCServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RPCUserCRUDServiceImpl</servlet-name>
    <servlet-class>com.supeyou.crudie.web.server.RPCUserCRUDServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPCUserCRUDServiceImpl</servlet-name>
    <url-pattern>/RPCUserCRUDServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RPCUser2GroupCRUDServiceImpl</servlet-name>
    <servlet-class>com.supeyou.crudie.web.server.RPCUser2GroupCRUDServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RPCAuthServiceImpl</servlet-name>
    <servlet-class>com.supeyou.auth.web.server.RPCAuthServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPCAuthServiceImpl</servlet-name>
    <url-pattern>/RPCAuthServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RPCGroupCRUDServiceImpl</servlet-name>
    <servlet-class>com.supeyou.crudie.web.server.RPCGroupCRUDServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPCGroupCRUDServiceImpl</servlet-name>
    <url-pattern>/RPCGroupCRUDServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RPCFileCRUDServiceImpl</servlet-name>
    <servlet-class>com.supeyou.crudie.web.server.RPCFileCRUDServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPCFileCRUDServiceImpl</servlet-name>
    <url-pattern>/RPCFileCRUDServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RPCHeroCRUDServiceImpl</servlet-name>
    <servlet-class>com.supeyou.core.web.server.RPCHeroCRUDServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPCHeroCRUDServiceImpl</servlet-name>
    <url-pattern>/RPCHeroCRUDServiceImpl</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>